@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #fff;
  --white: #000;
  --overlay: #00000073;
  --overlay-dark: #000000b2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #0a0a0a;
    --white: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
